<h1>Tambah Member</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
   <label for="name">Nama:</label>
  <div>
    <input type="text" id="name" formControlName="name">
  </div>
  <label for="address">Alamat:</label>
  <div>
    <input type="text" id="address" formControlName="address">
  </div>
  <label for="phone">No HP:</label>
  <div>
    <input type="text" id="phone" formControlName="phone">
  </div>
  <label for="class">Kelas:</label>
  <div>
    <div>
      <input type="radio" id="class" name="class" [checked]="isASelected" (change)="isASelected = !isASelected">
      <label for="class">VIP</label>
    </div>
    <div>
      <input type="radio" id="class" name="class" [checked]="isBSelected" (change)="isBSelected = !isBSelected">
      <label for="class">Standard</label>
    </div>
  </div>
  <label for="description">Keterangan:</label>
  <div>
    <textarea id="description" formControlName="description"></textarea>
  </div>
 
  <button type="submit" >SIMPAN</button>
  <button routerLink="/home" class="btn-batal">BATAL</button>
</form>
